@page "/"
@using FinancialManager.Web.Components.SubCategory.Model
@inject HttpClient Http

<PageTitle>Lançamentos</PageTitle>

<h1>Lançamentos</h1>

<p>Lançamentos</p>

@if (transacoes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Valor</th>                
                <th>Subcategoria</th>                
                <th>Data Lançamento</th>                
                <th>Data Pagamento</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var transacao in transacoes)
            {
                <tr>
                    <td>@transacao.Id</td>
                    <td>@transacao.Title</td>
                    <td><MudText>@($"R$ {@transacao.Value:#,##0.00}")</MudText></td>                    
                    <td>@transacao.Subcategory.Name</td>                    
                    <td>@transacao.DataOrder.ToShortDateString()</td>                    
                    <td>@transacao.DatePayment?.ToShortDateString()</td>                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TransactionOrderReponse[]? transacoes;

    protected override async Task OnInitializedAsync()
    {
        transacoes = await Http.GetFromJsonAsync<TransactionOrderReponse[]>("https://financial-manager.azurewebsites.net/transaction-order");
    }

    public record struct TransactionOrderReponse(
        int Id,
        string Title,
        decimal Value,
        SubcategoryResponse Subcategory,
        DateTime DataOrder,
        DateTime? DatePayment
    );
}
